# Mengabaikan semua node_modules di folder mana pun
node_modules/
**/node_modules/

# Mengabaikan hasil build/produksi
dist/
build/

# Mengabaikan file rahasia (penting!)
.env
.env.local

# Mengabaikan file log
*.log